body {
    background: #ADFF2F;
    width: 90%;
    margin: 0 auto;
}

header {
    height: 80px;
    border-bottom: double #4B0082;
}

.cart-button {
    margin: 2% 80%;
}

div .goods-item {
    display: inline-block;
    width: 200px;
    text-align: center;
    border: double #4B0082;
    margin: 2% 2%;
    padding: 10px;
}

.image {
    height: 200px;
    background: #008000;
}